@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

body {
    background-color: #0f0e13;
    background-image: 
     radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
     radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%),
     radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%)
}

.header {
    padding-top: 10%;
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    width: 10%;
    height: 90%;
    left: 15%;
    top: 2%;
    transform-origin: center;
}

.image img {
    border: 3px solid deeppink;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    animation: zoomimg 1s infinite;
}

.headding1 p {
    color: White;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3.5vw;
    position: absolute;
    width: 50%;
    left: 30%;
    bottom: 0;
  
}

.headding2 {
    color: black;
    font-size: 1.5vw;
    position: absolute;
    width: 50%;
    left: 33%;
    bottom: 0;
    animation: moveheadding2 15s infinite;
}



.p1 {
background-color:  rgb(255,182,193);

}

.p2 {
    background-color: red;
    color: white;
}

.p3 {
    background-color: black;
    color: white;
}

.p4 {
    background-color: rgb(202, 202, 71);
}



/* CODE FOR THE INTRODUCTION AND ITS BACKGROUND */

.intro {
    margin-left: 1.5%;
    width: 97%;
    height: 65vh;
    position: relative;
}

.intro img {
    width: 100%;
    height: 100%;
}

.intro-text {
    border: 5px solid white;
    background-color: #ffdae0;
    width: 40%;
    font-size: 1.5vw;
    position: absolute;
    top: 35%;
    left: 4%;
}

.intro-text p {
    margin: 6%;
}

/* 2ND INTRODUCTION */

.intro-2 {
    width: 100%;
    height: 40vh;
    margin-top: 5%;
    display: inline-flex;
    position: relative;
}

.sub-intro-2 {
    border: 2px solid pink;
    margin-left: 4%;
    margin-right: 4%;
    width: 43%;
    height: 100%;
    background-image: linear-gradient(to bottom right, lightpink,red);
}

.intro-2-img {
    border: 2px solid pink;
    background-color: yellow;
    position: absolute;
    width: 42%;
    height: 101%;
    top: 0%;
    left: 4%;
    opacity: 50%;
    background-image: linear-gradient(to bottom right, lightpink, red);
}

.intro-2-text {
    color: White;
    width: 23%;

    position: absolute;
    top: 15%;
    left: 8%;
}

.sub-text {
    color: White;
    padding: 7%;
    font-size: 1.5vw 1.5vh;
}

.intro-2-text p {
    padding: 7%;
    font-size: 1.2vw 1.2vh;
}

.sub-intro-2 img {
    width: 100%;
    height: 100%;
}

/* code for details of products */

.hr-josefina {
    margin: 5% 2% auto 2%;
}

.hr-josefina h3 {
    margin-left: 2%;
    color: rgb(112, 30, 30);
}

.hr-josefina hr {
    height: 10px;
    background-color: rgb(202, 96, 96);
    border: none;
}

.lotions-gift-container {
    width: 100%;
}

.lotions-gift-sub {
    width: 30%;
    height: 100%;
    display: inline-block;
    margin: auto auto auto 2%;
}

.lotions-gift-sub img {
    width: 80%;
    margin: 10% auto auto 10%;
}

.lotions-gift-sub h2 {
    text-align: center;
    color: orange;
}

.lotions-gift-sub h4 {
    text-align: center;
    color: white;
}

.lotions-gift-sub p {
    text-align: center;
    font-size: 1.8vw;
    color: white;
}

.lotions-gift-sub figcaption {
    text-align: center;
    font-size: 1.2vw;
    padding-left: 12%;
    padding-right: 12%;
    color: white;
}

.lotions-gift-sub a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 1.04vw;
    padding: 3%;
    margin-left: 37%;
}

/* Modal window*/

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(232, 226, 226, 0.5);
    opacity: 0;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: all;
}

.lotion-gift {
    background-color: white;
    position: relative;
    width: 52%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.lotion-gift img {
    position: absolute;
    width: 30%;
    margin: 2% auto auto 10%;
}

.title {
    margin: auto auto auto 8%;
    width: 85%;
}

.title hr {
    height: 3px;
    background-color: lightgrey;
    border: none;
}

.text {
    font-size: 1.7vw;
    width: 35%;
    margin: auto auto 0% 55%;
    padding-top: 1%;
}

.text p {
    font-size: 1.2vw;
}

.description {
    background-color: white;
    margin: -1% auto 10% auto;
    padding-bottom: 4%;
}

.description p {
    padding-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.2vw;
}

.description hr {
    height: 3px;
    background-color: white;
    border: none;
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 3%;
}

.description a {
    background-color: white;
    color: black;
    margin-left: 8%;
    padding: 1.5%;
    font-size: 1.2vw;
    text-decoration: none;
}

.x {
    position: absolute;
    background-color: white;
    color: black;
    margin-left: 95%;
    margin-top: -2%;
    text-decoration: none;
    font-size: 15px;
    padding: 1.5%;
}

/* Footer */



.container-footer hr {
    height: 3px;
    background-color: white;
    border: none;
    margin: 2% 5% auto 5%;
}

.footer {
    font-family: sans-serif;
    font-size: 1.2vW;
    color: white;
    text-align: center;
    width: 15%;
    margin: auto auto auto 5%;
}


.footer-rights {
    color: white;
    font-family: times;
    font-size: 1vw;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 0.1%;
}